//değişkenkeri ezmek için

.navbar-brand {
  padding-top: 0.3125rem !important;
  padding-bottom: 0.3125rem !important;
  margin-right: 1rem !important;
  font-size: 1.25rem !important;
  text-decoration: none !important;
  white-space: nowrap !important;
  color: #6610f2 !important;
}

$primary: #6610f2;
